<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451930887058-h52blpu6u1rtq9cd1e1i1fskiletiun4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451930887058-h52blpu6u1rtq9cd1e1i1fskiletiun4</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXhtzgQm1mq-4nMwZAxEUQZh36efqXHs</string>
	<key>GCM_SENDER_ID</key>
	<string>451930887058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseConnect</string>
	<key>PROJECT_ID</key>
	<string>alert-app-8d2fb</string>
	<key>STORAGE_BUCKET</key>
	<string>alert-app-8d2fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451930887058:ios:fb2a8e3668463830bba74b</string>
</dict>
</plist>